services:
  app:
    container_name: ${ROOT_APP_NAME}-app
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./src/:/var/www/html
    command: >
      sh -c "
        if [ -f composer.json ]; then composer install; fi &&
        if [ -f package.json ]; then npm install; fi &&
        php-fpm
      "

  nginx:
    image: nginx
    container_name: ${ROOT_APP_NAME}-nginx
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - 8000:80
    volumes:
      - ./src/:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
    - app

  db:
    image: mysql:8.4
    container_name: ${ROOT_APP_NAME}-db
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_MYSQL_PASSWORD}
      TZ: 'Asia/Tokyo'
      MYSQL_DATABASE: ${ROOT_APP_NAME}
      MYSQL_USER: ${ROOT_APP_NAME}
      MYSQL_PASSWORD: ${ROOT_MYSQL_PASSWORD}
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql-volume:/var/lib/mysql
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${ROOT_APP_NAME}-pma
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      UPLOAD_LIMIT: 500M
    ports:
      - "8080:80"
    depends_on:
      - db

# 上書き
volumes:
  mysql-volume:
  vendor-volumes:
  node_modules:
